MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

FRONTEND_BASE_URL=
FRONTEND_VERIFY_URI=
FRONTEND_EMPLOYEE_VERIFY_URI=
FRONTEND_RESET_PASSWORD_URI=

UNVERIFIED_USER_TTL_DAYS=

TOKEN_COOLDOWN_PERIOD_MS=
TOKEN_RESET_PASSWORD_EXPIRATION_MS=
TOKEN_VERIFY_EXPIRATION_MS=

JWT_ACCESS_TOKEN_EXPIRATION_MS=
JWT_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_MS=
JWT_REFRESH_TOKEN_GRACE_PERIOD_MS=

CLEANUP_CRON=
